<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form{
            width: 400px;
            margin: 10px auto;
        }
        h1{
            text-align: center;
        }
    </style>
</head>
<body>
    
    <h1>Edit Page</h1>
    <form action="/blog/<%=blog.id%>/edit?_method=PATCH" method="POST">
        <input type="text" name="name" placeholder="Title of Blog" value="<%=blog.name%>">  
        <br>
        <br>
        <label for="body"> Write the Blog:</label>
        <br>
        <textarea name="body" id="body" cols="30" rows="10"><%=blog.body%></textarea>
        <br><br>
        <button>Submit</button>
    </form>

</body>
</html>